@import "../../../display/style/variables";

.sign-in {
  .sign-in-form {
    width: 300px;
  }
}

.dashboard {
  .dashboard-toggle {
    display: flex;
    justify-content: space-around;
    .dashboard-toggle-link {
      color: $colour4;
      cursor: pointer;
      font-size: 21px;
    }
  }
  .dashboard-column {
    margin-left: 50%;
    max-width: 600px;
    min-width: 600px;
    transform: translateX(-50%);
    .dashboard-column-title {
      color: $colour3;
      font-size: 42px;
    }
  }
}
