@import "../../../display/style/variables";

.sign-in {
  .sign-in-form {
    width: 300px;
  }
}

.dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: $y-padding;
  max-width: 1300px;
  .dashboard-column {
    max-width: 600px;
    min-width: 600px;
    .dashboard-column-title {
    }
  }
}
