@import "../../../display/style/variables";

.route {
  max-height: $route-height;
  min-height: $route-height;
  overflow: scroll;
  padding: 0 $x-padding;
}

.contact {
  .qr-container {
    background-color: $colour2;
    padding: 5px;
    width: 210px;
    .qr-code {
      width: 200px;
    }
  }
}

.home {
  .home-title-container {
    text-align: center;
    .home-title-photo {
      border-radius: 50%;
      width: 140px;
    }
    .home-title {
      color: $colour3;
      margin-top: -21px;
      font-size: 55px;
    }
    .home-subtitle {
      color: $colour4;
      font-size: 32px;
      margin-top: -12px;
    }
  }
  .home-sm-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 50%;
    min-width: 260px;
    max-width: 360px;
    transform: translateX(-50%);
  }
  .home-work-intro {
    font-size: 28px;
    margin-top: $y-padding;
    text-align: center;
    .home-work-intro-link {
      color: $colour3;
    }
  }
  .home-work-examples {
    display: flex;
    flex-wrap: wrap;
    margin-top: $y-padding;
  }
}
