@import "../../../display/style/variables";

.route {
  max-height: $route-height;
  min-height: $route-height;
  overflow: scroll;
  padding: 0 $x-padding;
  .route-title {
    font-size: 60px;
    text-align: center;
  }
}

.about {
  .about-section {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 900px;
    .about-section-image-container {
      margin: 0 auto;
      max-width: 600px;
      padding: $y-padding;
      width: 300px;
      .about-section-image {
        border-radius: 50%;
        width: 286px;
      }
    }
    .about-section-text {
      margin: 0 auto;
      max-width: 600px;
      min-width: 300px;
      padding: $y-padding;
      .about-section-header {
        color: $colour3;
        font-size: $link-font-size;
      }
      .about-section-text-body {
        font-size: 21px;
        .about-section-text-body-link {
          color: $colour4;
          font-style: italic;
        }
      }
    }
  }
  .about-section-left {
    * {
    }
  }
  .about-section-right {
    .about-section-text {
      .about-section-header,
      .about-section-text-body {
        text-align: right;
      }
    }
    * {
    }
  }
}

.blog {
  .blog-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: $y-padding;
  }
}

.blog-item {
  .blog-item-title-box {
    text-align: center;
    .blog-item-title {
      color: $colour3;
      font-size: 42px;
    }
    .blog-item-subtitle {
      font-size: 28px;
      margin-top: -14px;
    }
    .blog-item-date {
      color: $colour4;
      margin-top: -7px;
    }
  }
  .blog-item-image-box {
    margin-left: 50%;
    max-width: 420px;
    transform: translateX(-50%);
    .blog-item-image {
      width: 100%;
    }
  }
  .blog-item-text {
    margin-left: 50%;
    max-width: 1200px;
    min-width: 1200px;
    transform: translateX(-50%);
  }
  .blog-item-cta {
    margin-left: 50%;
    max-width: 600px;
    transform: translateX(-50%);
    .blog-item-cta-text {
      color: $colour4;
      font-size: 21px;
    }
    .blog-item-cta-link-container {
      border: 2px solid $colour3;
      margin-left: 50%;
      text-align: center;
      transform: translateX(-50%);
      width: 180px;
    }
  }
}

.contact {
  .contact-body {
    width: 100%;
    .contact-body-section {
      margin-left: 50%;
      max-width: 800px;
      transform: translateX(-50%);
      width: 100%;
      .contact-form {
        width: 100%;
        .contact-form-section {
          width: 100%;
          .contact-form-label {
            color: $colour3;
            font-size: 28px;
            width: 100%;
          }
          .contact-form-input {
            border: 2px solid $colour4;
            font-size: 21px;
            width: 100%;
          }
          .contact-form-textarea {
            height: 280px;
          }
          .contact-form-file-input {
            width: 100%;
          }
        }
        .contact-form-button {
          background-color: $colour3;
          border: none;
          color: $colour2;
          font-size: 21px;
          margin-top: $y-padding;
          width: 100%;
        }
      }
      .contact-links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: $y-padding;
        .contact-links-section {
          .contact-links-section-title {
            color: $colour4;
            font-size: 21px;
            font-weight: 100;
          }
        }
      }
    }
  }
}

.home {
  .home-title-container {
    text-align: center;
    .home-title-photo {
      border-radius: 50%;
      width: 140px;
    }
    .home-title {
      color: $colour3;
      margin-top: -21px;
      font-size: 55px;
    }
    .home-subtitle {
      color: $colour4;
      font-size: 32px;
      margin-top: -12px;
    }
  }
  .home-sm-links {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin-left: 50%;
    transform: translateX(-50%);
    width: 420px;
  }
  .home-work-intro {
    font-size: 28px;
    margin-top: $y-padding;
    text-align: center;
    .home-work-intro-link {
      color: $colour3;
    }
  }
  .home-work-examples {
    display: flex;
    flex-wrap: wrap;
    margin-top: $y-padding;
  }
}

.skills {
  .skills-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 14px;
  }
}

.work {
  .work-links {
    display: flex;
    justify-content: space-around;
    .work-link {
      color: $colour3;
      cursor: pointer;
      font-size: 35px;
    }
    .work-link-selected {
      color: $colour4;
    }
  }
  .work-grid {
    display: flex;
    flex-wrap: wrap;
    margin-top: $y-padding;
  }
}

.work-item {
  .work-item-title-container {
    text-align: center;
    .work-item-title {
      font-size: 42px;
    }
    .work-item-subtitle {
      color: $colour3;
      font-size: 21px;
      margin-top: -$y-padding;
    }
  }
  .work-item-grid {
    display: grid;
    grid-template-columns: 40% 60%;
    margin-left: 50%;
    margin-top: $y-padding;
    max-width: 800px;
    min-width: 800px;
    transform: translateX(-50%);
    .work-item-image-container {
      .work-item-image-slideshow {
        .work-item-image {
          width: 100%;
        }
      }
      .work-item-links {
        display: grid;
        grid-gap: $y-padding;
        grid-template-columns: 1fr;
      }
    }
    .work-item-description {
      padding: 0 2%;
    }
  }
}

@media only screen and (max-width: 400px) {
  .home {
    .home-sm-links {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 260px;
    }
  }

  .contact {
    .contact-body {
      .contact-body-section {
        .contact-links {
          grid-template-columns: 1fr;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .work-item {
    .work-item-grid {
      grid-template-columns: 1fr;
      max-width: 600px;
      min-width: 300px;
    }
  }
}
