@import "../../../display/style/variables";

.route {
  max-height: $route-height;
  min-height: $route-height;
  overflow: scroll;
  padding: 0 $x-padding;
  .route-title {
    font-size: 60px;
    text-align: center;
  }
}

.contact {
  .contact-body {
    width: 100%;
    .contact-body-section {
      margin-left: 50%;
      max-width: 800px;
      transform: translateX(-50%);
      width: 100%;
      .contact-form {
        width: 100%;
        .contact-form-section {
          width: 100%;
          .contact-form-label {
            color: $colour3;
            font-size: 28px;
            width: 100%;
          }
          .contact-form-input {
            border: 2px solid $colour4;
            font-size: 21px;
            width: 100%;
          }
          .contact-form-file-input {
            width: 100%;
          }
        }
        .contact-form-button {
          background-color: $colour3;
          border: none;
          color: $colour2;
          font-size: 21px;
          margin-top: $y-padding;
          width: 100%;
        }
      }
      .contact-links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: $y-padding;
        .contact-links-section {
          .contact-links-section-title {
            color: $colour4;
            font-size: 21px;
            font-weight: 100;
          }
        }
      }
    }
  }
}

.home {
  .home-title-container {
    text-align: center;
    .home-title-photo {
      border-radius: 50%;
      width: 140px;
    }
    .home-title {
      color: $colour3;
      margin-top: -21px;
      font-size: 55px;
    }
    .home-subtitle {
      color: $colour4;
      font-size: 32px;
      margin-top: -12px;
    }
  }
  .home-sm-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 50%;
    min-width: 260px;
    max-width: 360px;
    transform: translateX(-50%);
  }
  .home-work-intro {
    font-size: 28px;
    margin-top: $y-padding;
    text-align: center;
    .home-work-intro-link {
      color: $colour3;
    }
  }
  .home-work-examples {
    display: flex;
    flex-wrap: wrap;
    margin-top: $y-padding;
  }
}
