@import "../../display/style/variables";

.button {
  color: $colour2 !important;
  cursor: pointer;
  font-size: 21px;
  padding: $y-padding 0;
  text-align: center;
  width: 100%;
}

.button1 {
  background-color: $colour3;
}
.button2 {
  background-color: $colour4;
}

.card {
  margin: 0 auto;
}

.card1 {
  max-width: 320px;
  min-width: 320px;
  position: relative;
  .card1-image,
  .card1-hover-text {
    height: 225px;
    width: 320px;
  }
  .card1-hover-text {
    background-color: rgba($color: $colour1, $alpha: 0.42);
    opacity: 0;
    padding: $y-padding $x-padding;
    position: absolute;
    top: 0;
    transition: 0.3s ease-in-out opacity;
    .card1-hover-text-title {
      color: $colour3;
      font-size: 42px;
      text-align: center;
      text-shadow: 2px 0 0 $colour2, -2px 0 0 $colour2, 0 2px 0 $colour2,
        0 -2px 0 $colour2, 1.4px 1.4px 0 $colour2, -1.4px 1.4px 0 $colour2,
        1.4px -1.4px 0 $colour2, -1.4px -1.4px 0 $colour2;
    }
    .card1-hover-text-description {
      color: $colour2 !important;
      font-size: 24px;
      line-height: 0.9;
      min-height: 115px;
    }
    .card1-hover-text-buttons {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
}
.card1:hover {
  .card1-hover-text {
    opacity: 1;
  }
}

.card2 {
  max-width: 160px;
  margin-bottom: 28px;
  min-width: 160px;
  text-align: center;
  .card2-icon {
    font-size: 60px;
    * {
      color: $colour3;
    }
  }
  .card2-name {
    font-size: 42px;
    margin-top: -21px;
  }
  .card2-level {
    color: $colour4;
    margin-top: -7px;
  }
}

.link {
  font-size: $link-font-size;
}

.link1 {
  margin-right: 14px;
}
.link1-selected {
  color: $colour3 !important;
}

.link2 {
  position: relative;
  text-align: center;
  .link2-hover-text {
    color: $colour3;
    font-size: 14px;
    opacity: 0;
    margin-top: -14px;
    transition: 0.3s ease-in-out opacity;
    width: 100%;
  }
}
.link2:hover {
  .link2-hover-text {
    opacity: 1;
  }
}

.link3 {
  display: flex;
  .link3-icon {
    width: 42px;
    * {
      color: $colour3;
      font-size: 42px;
    }
  }
  .link3-text {
    font-size: 35px;
  }
}
