@font-face {
  font-family: "futura";
  src: url("../fonts/FuturaPTBook.otf");
}

$colour1: #3b2f2f;
$colour2: #f8f8f8;
$colour3: #128482;
$colour4: #d0491e;

$font1: "futura";

$header-height: 50px;

$link-font-size: 35px;

$x-padding: 2%;
$y-padding: 7px;
